.a_plus_plus {
color: #990033;
}

.a_plus {
color: #990066;
}

.a {
color: #cc3399;
}

.b_plus_plus {
color: #ff0077;
}

.b_plus {
color: #ff0000;
}

.b {
color: #ff6666;
}

.c_plus_plus {
color: #ffff33;
}

.c_plus {
color: #ffff99;
}

.c {
color: #ffffcc;
}

.d_plus_plus {
color: #33cc33;
}

.d_plus {
color: #99cc33;
}

.d {
color: #ccffcc;
}