.a_plus_plus {
color: #ff0077;
}

.a_plus {
color: #ff0000;
}

.a {
color: #ff6666;
}

.b_plus_plus {
color: #ffff33;
}

.b_plus {
color: #ffff99;
}

.b {
color: #ffffcc;
}

.c_plus_plus {
color: #33cc33;
}

.c_plus {
color: #99cc33;
}

.c_plus {
color: #99cc33;
}
